<div class="play">
  {{twitch-box}}

  {{#each projects as |project|}}
    <section class="project">
      <h3>{{project.name}}</h3>
      <div>
        {{project.description}}
        {{project.type}}
      </div>
    </section>
  {{/each}}
</div>
