<header>
  <h1>Quinn Elwood</h1>

  <nav>
    {{#link-to 'projects'}}Work{{/link-to}}
    {{#link-to 'projects'}}Play{{/link-to}}
    {{#link-to 'projects'}}About{{/link-to}}
  </nav>
</header>

<main>
  {{outlet}}
</main>
