<div class="about">
  <p>Front end engineer, open source adorer, habitual project starter.</p>
  <p>I work at a cool place called <a href="http://workwithopal.com/">Opal Labs, inc.</a></p>
  <p>Playing music is love of mine. I stream regularly on twitch, come check me out <a href="http://twitch.tv/ashesofowls">@AshesOfOwls</a>.</p>
  <p>Games are better when you play with friends. Send me an invite on <a href="http://steamcommunity.com/id/ashesofowls">Steam</a>.</p>
</div>
