html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding: 30px 10%;
  min-height: 100%;
}

header {
  border-bottom: 1px solid rgba(#333, 0.2);
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 10px;

  h1 {
    flex: 0 0 auto;
    font-family: "Dancing Script";
    font-size: 32px;

    span {
      color: $pink;
    }
  }

  nav {
    align-items: flex-end;
    display: flex;
    flex: 1 1 auto;
    font-family: "Alegreya Sans";
    font-size: 13px;
    justify-content: flex-end;
    text-transform: uppercase;

    a {
      color: #333 !important;
      position: relative;

      &:hover,
      &.active {
        color: $pink !important;
      }

      &.active:after {
        height: 3px;
        opacity: 1;
        width: 100%;
      }

      &:after {
        background: $pink;
        bottom: -11px;
        content: "";
        display: block;
        height: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transition: .2s all;
        width: 0;
      }
    }

    a:not(:last-child) {
      margin-right: 15px;
    }
  }
}

main {

}
